*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
#landing-page{
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}










 #landing-page::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(sajin.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: .3;
  animation: anim 25s linear infinite;
}
@keyframes anim {
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
.page-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 20 40px;
  border: 1px solid red;
}
.page-content h1{
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p{
  color: #fff;
  margin-bottom: 20px;
}
.page-content a{
  display: inline-block;
  text-decoration: none;
  color: #ff7979;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}
.page-content a:hover{
  color: #fff;
  background: #ff7979;
}
.text{
    width: 100%;
    height: 140vh;

  padding: 40px;
  text-align: center;
   

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image:url("1212.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.text p{
  font-size: 25px;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 color: #c4342fbe;
  border: 1px solid  red;
  padding: 20px 30px;

 
}





   .sajin ul{

list-style: none;
  float: right;

margin:0;
  padding: 0;
 display: flex;
}
.sajin ul li a{
  position: relative; ;
  line-height: 80px;
  color: #e3342f;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid red;
   cursor: pointer;
}





  a:hover{
  border: 1px solid red ;
  background: red;

}
 ul li .red{
  background:blue;
}
#sajin1{
  width: 100%;
  height: 70vh;
  position: relative;
  background:url(sajin2.jpg);
  overflow: visible;
  background-attachment: fixed;
  animation: animination 10s linear infinite;

}
#sajin1 p{
  position:absolute;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   font-size: 34px;
   font-weight: 30px;
   padding-right :40px;
  padding-left:30px;
  top: 10%;
  left: 40%;
  right: 40%;
  text-align: right ;
  border: 1px solid red;
  
}



#fool{
width: 100%;
height: 170px;
background: black;

}
#fool ul {
  display:block;
  list-style: none;

}
#fool  li {
  float: left;
  margin-left: 240px;
  margin-top: 50px;


}
#fool ul li a{
  font-size: 20px;
  font-weight: 400;

  padding: 10px;
  margin-top: 60px;
  border: 1px solid rgb(107, 13, 13);

}
#tool iframe{
  padding-right: 10px;
}

a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: blue;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 30px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.sajin h1{
  height: 10vh;
  width: 100%;
font-size: 30px;
text-align: center;
color: Red;
background-color: #000;

}


#play{
    width: 100%;
    height: 130vh;
    background:url(youp.gif);

    background-position: center;
}

  #sajin1 .social-menu ul {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
      margin: 0;
      display: flex;
  }
    #sajin1 .social-menu ul li {
      list-style: none;
      margin: 0 10px;
  }
   #sajin1 .social-menu ul li .fa {
      color: #000000;
      font-size: 25px;
      line-height: 50px;
      transition: .5s;
  }
    #sajin1 .social-menu ul li .fa:hover {
      color: #ffffff;
  }
   #sajin1 .social-menu ul li a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      text-align: center;
      transition: 0.5s;
      transform: translate(0,0px);
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
   #sajin1 .social-menu ul li a:hover {
      transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  #sajin1 .social-menu ul li:nth-child(1) a:hover {
      background-color: #3b5999;
  }
  #sajin1 .social-menu ul li:nth-child(2) a:hover {
      background-color: #55acee;
  }
   #sajin1 .social-menu ul li:nth-child(3) a:hover {
      background-color: #e4405f;
  }
   #sajin1 .social-menu ul li:nth-child(4) a:hover {
      background-color: #cd201f;
  }
   #sajin1 .social-menu ul li:nth-child(5) a:hover {
      background-color: #0077B5;
  }
