body{
	margin:0;
	padding: 0;
	background: url(helloo.png);
	background-position: center;
	font-family:  sans-serif;
    background-size: cover;
background-attachment: fixed;



}

.loginbox{
width: 360px;
height: 420px;
background:#3b0d0c ;
color:#38a89d;
top:50%;
left:50%;
position: absolute;
transform: translate(-50%,-50%);
box-sizing: border-box;
padding: 70px 30px;

}

.cool{
	width: 100px;
	height:100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;

	text-align: center;
	font-size: 23px;
}
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;


}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;


}
.loginbox input[type="text"],input[type="password"] {

border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color:#cc1f1a ;
font-size: 16px;


}


.loginbox input[type="submit"]{
	border: none;
	outline:none;
	height: 40px;
	background:#2779bd;
	color:#ffebef;
font-size: 18px;
border-radius: 30px; 

}
.loginbox input[type="submit"]:hover
{
cursor: pointer;
background:#21183c ;
color:#eb5286;



}
.loginbox a{
	text-decoration: none;
	font-size: 13px;
	line-height: 21px;
	color:red ;


}

